@import "~asab-webui/styles/constants/index.scss";

.char-limit {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: $text-secondary-color !important;
	&-text {
		max-width: 40ch;
	}
	&-number {
		max-width: 25ch;
	}
}

.homescreen-card {
	width: 600px;
	@media (max-width: 576px) {
		width: 90vw;
	}
}

.external-service-title {
	color: #20a8d8 !important;
	cursor: pointer;
}

.external-service-title:hover {
	color: #167495 !important;
	text-decoration: underline !important;
}

.auth-card {
	margin-top: 5rem;
	@media (max-width: 768px) {
		margin-top: 2rem;
	}
}
