@import "~asab-webui/styles/constants/index.scss";

.div-key-wordwrap {
	white-space: nowrap;
	max-width: 20ch !important;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0;
}
.div-button-center {
	justify-content: center;
	display: flex;
}

.button-webauthn-register {
	width: 20em;
}

.table-button-group .btn:nth-child(1) {
	border-right: 1px solid $border-color !important;
}

.webauthn-th-keyname, .webauthn-th-last-login {
	width: 30%;
}

.webauthn-th-sign-count, .webauthn-th-button {
	width: 20%;
}

@media screen and (max-width: 493px) {
	/*Does not display some table columns on small screens*/
	.td-not-display {
		display: none;
	}
}

.p-td {
	display: none;
}
