@import "~asab-webui/styles/constants/index.scss";

.primary-span {
	color: $primary;
	padding-left: 5px;
	padding-right: 5px;
}

.register-row {
	margin-top: -3rem;
	@media (max-width: 768px) {
		margin-top: 0rem;
	}
}

.x-icon:hover {
	cursor: pointer;
	color: $danger !important;
}

.expired-registration-p {
	font-size: 1rem;
	font-weight: 500;
}
